# Backend systemd service file for simplified app management
# Handle via systemctl <restart|stop|start|enable> backend.service
[Unit]
Description=Flask Backend App
After=network.target

[Service]
WorkingDirectory=<FRACAS_DIRECTORY>/backend
ExecStart=<FRACAS_DIRECTORY>/backend/venv/bin/gunicorn
Restart=always

[Install]
WantedBy=multi-user.target