# Frontend systemd service file for simplified app management
# Handle via systemctl <restart|stop|start|enable> frontend.service
[Unit]
Description=Next.js Frontend App
After=network.target

[Service]
WorkingDirectory=<FRACAS_DIRECTORY>/frontend
ExecStart=/usr/bin/yarn start
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target