# Change the values below to your own values,
# and then duplicate this file and rename it to ".env" (without extension or quotation marks)
# KEEP THIS FILE SECURE

# python -c 'import os; import base64; print(base64.b64encode(os.urandom(16)).decode('utf-8'))'
JWT_TOKEN=""
# python -c 'import secrets; secrets.token_urlsafe()'
SECRET_KEY=""

# MAIL PROVIDER for forget password requests
MAIL_USERNAME=""
MAIL_PASSWORD=""
MAIL_SERVER=""
MAIL_PORT=465

# python -c 'import secrets; secrets.SystemRandom().getrandbits(128)'
SECURITY_PASSWORD_SALT=""